.block1{
    display: flex;
    flex-direction: column;
}

.block2{
    display: flex;
    flex-direction: row;
}

.color2{
    background-color: aqua;
}

.color3{
    background-color: rgb(24, 66, 66);
}