.butao{
    padding: 15px;
    border: none;
    background-color:#0084FF;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-style: oblique;
    font-family: cursive;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.borda{
    border: black solid 1px;
    padding: 10px;
    border-radius: 20px;

}